<Create Coupon</h1>
  <form action="" method="post">

    <input type="text" name="title" value="Coupon title?">
    <input type="text" name="description" value="Coupon description?">
    <input type="text" name="product" value="Sale product?">
    <input type="text" name="discount" value="Discount?">
    <input type="text" name="exp_date" value="Experation Date">
    <input type="submit" value="Create Coupon">
  </form>
