<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kate and Isaac's Awesome ass coup site w/ 2 coups</title>
  </head>
  <body>
    <header>
      <h2>Kate and Isaac's Coups</h2>
      <h4>Like RetailMe not, but NOT AT ALL</h4>
      <hr>
    </header>


    <%= yield %>

    <footer>
      <hr>
      &copy; 2015 Gotcha coups!
    </footer>
  </body>
</html>
